/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-display: swap;
  src:
    url('../fonts/rubik-v20-latin-500.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/rubik-v20-latin-700.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin-700.woff') format('woff');
}



/** custom styling and classes **/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,html{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.site-main{
  flex-grow: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button{
  font-family: inherit;
}

.btn {
  background-color: none;
  border: none;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #4a4b4c;
}

.text-white {
  color: #fff;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

.bg-blue {
  background-color: #7297ef;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.primary-btn {
  padding: 17px 30px;
  border: 2px solid transparent;
  background-color: #7297ef;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

/********* HEADER ********/
.header-top {
  margin-bottom: 30px;
  padding: 30px 0;
  background-color: #f6f6f6;
}

.header-top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo-img {
  width: 276px;
  height: 45px;
  object-fit: contain;
}

.header-top-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form {
  margin-right: 25px;
}

.user_search {
  padding: 15px 41px;
  border: none;
  border-radius: 60px;
  background-image: url("../images/header_images/search.svg");
  background-position: 15px center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  outline: none;
}

.user_search::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.user_search::-moz-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.user_search:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.user_search::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.user_search::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.user_search:focus {
  -webkit-box-shadow: 0 0 3px 1px #2959ce;
  box-shadow: 0 0 3px 1px #2959ce;
}

.search-text {
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
}

.lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 36px;
  margin-right: 25px;
  padding-left: 0;
  background-color: #dce6ff;
  border-radius: 39px;
}

.lang-link {
  font-size: 13px;
  line-height: 15px;
  color: #a6a6a6;
  text-decoration: none;
}



.active-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-left: 3px;
  background-color: #fff;
  border-radius: 50%;
}




.header-top-end-signup {
  background-color: #7296ec;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 20px;
  color: #ffffff;
  border-radius: 10px;
}

/* navbar */

.site-navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-left: 0;
  border-bottom: 1px solid #d1d1d1;
}

.site-navigation-item {
  padding: 10px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: 2px solid transparent;
  color: #fff;
  background-color: #7f7f7f;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.site-navigation-item:hover{
  opacity: .7;
}

.site-navigation-item::after

/************* ASIDE TOP **************/
.aside-top {
  margin-bottom: 50px;
}

.aside-top-ad-image {
  width: 1200px;
  height: 128px;
  border-radius: 7px;
}

/************* ASIDE TOP **************/

/********** LATEST NEWS **********/
.latest-news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,300px));
  place-content: center;
  gap: 1rem;
  margin-bottom: 60px;
  padding-left: 0;
}

.latest-news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  /* width: 393px; */
  border-radius: 15px;
  padding: 20px 17px;
  margin-bottom: 10px;
}


.latest-news-item-container {
  width: 338px;
}

.latest-news-item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.latest-news-item-link {
  color: #000;
}

.latest-news-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}

.latest-news-item-img {
  max-width: 100%;
  border-radius: 10px;
}

.latest-news-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: crimson;
}

.news-time {
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
  color: #5e5f61;
}

/*********** ARTICLE **********/
.site-article {
  width: 1050px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/article.png");
  border-radius: 10px;
}

.article-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 71px;
  padding-left: 21px;
}

.article-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.article-link {
  background-color: #f78b3b;
  font-style: normal;
  font-weight: 500;

  font-size: 20px;
  line-height: 24px;
  padding: 13px 30px;
  border-radius: 10px;
}

/***************** WORLD NEWS *************/
.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.world-news-list {
  margin-top: 0;
  padding-left: 0;
}

.world-news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 797px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 17px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.world-news-item-img {
  margin-right: 15px;
  border-radius: 10px;
}

.world-news-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.world-news-item-info {
  width: 538px;
  margin-left: 15px;
}

.world-news-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.world-news-item-link {
  color: #000;
}

.world-news-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 17px;
}

.world-news-item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.world-news-item-box::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
}

.box-1::before {
  background-image: url("../images/in_the_world_section/card-images/kb.jpg");
}

.box-2::before {
  background-image: url("../images/in_the_world_section/card-images/tass.jpg");
}

.box-3::before {
  background-image: url("../images/in_the_world_section/card-images/tbk.jpg");
}

.box-4::before {
  background-image: url("../images/in_the_world_section/card-images/solenka.jpg");
}

.box-5::before {
  background-image: url("../images/interesting-images/kb.jpg");
}

.box-6::before {
  background-image: url("../images/interesting-images/pp-news.jpg");
}

.box-6::before {
  background-image: url("../images/interesting-images/pp-news.jpg");
}

.box-7::before {
  background-image: url("../images/interesting-images/dns-club.jpg");
}

.box-8::before {
  background-image: url("../images/interesting-images/sputnik-uzb.jpg");
}

.box-9::before {
  background-image: url("../images/interesting-images/i-reactor.jpg");
}

.box-10::before {
  background-image: url("../images/interesting-images/company.jpg");
}

.box-11::before {
  background-image: url("../images/interesting-images/ferghana.jpg");
}

.box-12::before {
  background-image: url("../images/interesting-images/fbm.jpg");
}



.world-news-item-box-img {
  margin-right: 10px;
}

.world-news-item-box-text {
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

.world-news-wrapper-link {
  display: block;
  margin-bottom: 100px;
  padding: 17px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #eaeaea;
  border-radius: 10px;
}

/* main news */
.main-news {
  width: 393px;
}

.main-news-title {
  margin: 0;
}

.main-news-list {
  padding-left: 0;
}

.main-news-container {
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 17px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.main-news-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.last-item {
  border-bottom: none;
}

.main-news-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.main-news-item-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}

.main-news-item-link {
  color: #000;
}

/****************** ASIDE BOTTOM ************/
.aside-bottom {
  margin-top: 10px;
}

.aside-bottom-ad-img {
  border-radius: 15px;
}

/****************** ASIDE BOTTOM ************/

/*********** FOOTER *********/
.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f6f6f6;
}

.footer-copyright {
  width: 264px;
}

.footer-copyright-logo {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.footer-copyright-text {
  margin-bottom: 71px;
  font-size: 12px;
  line-height: 19px;
}

.footer-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-links {
  margin-top: 83px;
  margin-bottom: 30px;
}

.footer-links-item {
  margin-bottom: 20px;
}

.footer-links-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.footer-bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom-item:nth-child(2) {
  margin-right: 33px;
  margin-left: 32px;
}

.footer-bottom-item:nth-child(3) {
  margin-right: 33px;
}

/*******************************
  MODAL
********************************/

.modal {
  /* position: relative; */
  width: 850px;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
}

.modal::backdrop{
  background-color: rgb(0 0 0 / .3);
}

.modal[open] {
  animation: animate 3s forwards;
  -webkit-animation: animate 3s forwards;
}




.modal-title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 26px;
  line-height: 34px;
}

.modal-turn-btn {
  padding: 12px 40px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background: #F78B3B;
  border-radius: 10px;
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.close-modal {
  position: absolute;
  top: 5%;
  right: 2%;
  font-size: 24px;
  opacity: 0.4;
}

/* contact */
.contact-section {
  padding-bottom: 100px;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.contact-start {
  width: 58%;
  margin-right: 10px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-input {
  width: 49%;
  margin-bottom: 10px;
  padding: 20px 0 20px 18px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  outline: none;
}


.contact-input:focus {
  -webkit-box-shadow: 0 0 0.5px 2px #2959ce;
  box-shadow: 0 0 0.5px 2px #2959ce;
}

.contact-input:nth-child(1) {
  margin-right: 10px;
}

.contact-input:nth-child(3) {
  display: block;
  width: 100%;
}

.contact-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.contact-input::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.contact-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.contact-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.contact-input::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.contact-list {
  width: 40%;
  background: #F6F6F6;
  border-radius: 10px;
}

.text-area {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 18px;
  padding-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  outline: none;
  resize: none;
}

.text-area:focus {
  -webkit-box-shadow: 0 0 0.5px 2px #2959ce;
  box-shadow: 0 0 0.5px 2px #2959ce;
}

.text-area::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.text-area::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.text-area:-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.text-area::-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.text-area::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

/* contacts list */
.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 40px 24px;
}

.contact-adress {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.contact-item:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.contact-heading {
  margin: 0 0 7px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

/* NEWS ARTICLE TEXT */
.article-news {
  margin-bottom: 60px;
  padding-bottom: 50px;
}

.article-news-title {
  margin-bottom: 20px;
  line-height: 36px;
}

.news-article {
  margin-right: 10px;

  border-bottom: 1px solid #d2d2d2;
}

.news-article-text {
  font-size: 20px;
  line-height: 30px;
}

.news-article-text:not(:last-child) {
  margin-bottom: 24px;
}

.user-interests {
  padding-bottom: 100px;
}

.interest-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.interests-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.interest-item {
  margin-right: 10px;
  margin-left: 10px;
}



@keyframes animate {
  0% {

    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
