@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-display: swap;
  src:
    url('../fonts/rubik-v20-latin-500.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/rubik-v20-latin-700.woff2') format('woff2'),
    url('../fonts/rubik-v20-latin-700.woff') format('woff');
}



/** custom styling and classes **/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-black {
  color: #000;
}

.text-gray {
  color: #4a4b4c;
}

.text-white {
  color: #fff;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

.bg-blue {
  background-color: #7297ef;
}

.container {
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/********* HEADER ********/
.header-top {
  margin-bottom: 30px;
  padding: 39px 0;
  background-color: #f6f6f6;
}

.header-top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-start {
  display: flex;
  align-items: center;
}

.header-logo-img {
  width: 276px;
  height: 45px;
}


.header-top-currency-list {
  display: flex;

}

.currency-item {
  color: #555;
  margin-right: 25px;
}

.currency {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2959ce;
}

.header-top-end {
  display: flex;
  align-items: center;
}

.search-form {
  margin-right: 25px;
}

.user_search {
  padding: 15px 41px;
  border: none;
  border-radius: 60px;
  background-image: url("../images/header_images/search.svg");
  background-position: 15px center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.user_search::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}

.search-text {
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
}

.lang-list {
  display: flex;
  align-items: center;
  width: 70px;
  height: 36px;
  margin-right: 25px;
  padding-left: 0;
  background-color: #dce6ff;
  border-radius: 39px;
}

.lang-link {
  font-size: 13px;
  line-height: 15px;
  color: #a6a6a6;
  text-decoration: none;
}



.active-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-left: 3px;
  background-color: #fff;
  border-radius: 50%;
}




.header-top-end-signup {
  background-color: #7296ec;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 13px 20px;
  color: #ffffff;
  border-radius: 10px;
}

/* navbar */

.site-navigation-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.site-navigation-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}

/************* ASIDE TOP **************/
.aside-top {
  margin-bottom: 50px;
}

.aside-top-ad-image {
  width: 1200px;
  height: 128px;
  border-radius: 7px;
}

/************* ASIDE TOP **************/

/********** LATEST NEWS **********/
.latest-news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding-left: 0;
}

.latest-news-item {
  background-color: #f6f6f6;
  width: 393px;
  border-radius: 15px;
  padding: 20px 17px;
  margin-bottom: 10px;
}


.latest-news-item-container {
  width: 338px;
}

.latest-news-item-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.latest-news-item-link {
  color: #000;
}

.latest-news-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
}

.latest-news-item-img {
  width: 359px;
  height: 165px;
  border-radius: 10px;
}

.latest-news-item-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.latest-news-item-box::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: calc(50%) 0;
}

.last-1::before {
  background-image: url("../images/brands/KB.png");
}

.last-2::before {
  background-image: url("../images/brands/image5.png");
}

.last-3::before {
  background-image: url("../images/brands/X+.png");
}

.last-4::before {
  background-image: url("../images/brands/digger_ru.png");
}

.last-5::before {
  background-image: url("../images/brands/lenta_ru.png");
}

.last-6::before {
  background-image: url("../images/brands/Tarantas_News.png");
}



.latest-news-item-box-text {
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
  color: #5e5f61;
}

/*********** ARTICLE **********/
.site-article {
  width: 1050px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/article.png");
  border-radius: 10px;
}

.article-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 71px;
  padding-left: 21px;
}

.article-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.article-link {
  background-color: #f78b3b;
  font-style: normal;
  font-weight: 500;

  font-size: 20px;
  line-height: 24px;
  padding: 13px 30px;
  border-radius: 10px;
}

/***************** WORLD NEWS *************/
.news-container {
  display: flex;
  justify-content: space-between;
}

.world-news-list {
  margin-top: 0;
  padding-left: 0;
}

.world-news-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 797px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 17px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.world-news-item-img {
  width: 210px;
  height: 165px;
  margin-right: 15px;
  border-radius: 10px;
}

.world-news-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.world-news-item-info {
  width: 538px;
  margin-left: 15px;
}

.world-news-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.world-news-item-link {
  color: #000;
}

.world-news-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 17px;
}

.world-news-item-box {
  display: flex;
  align-items: center;
}

.world-news-item-box::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
}

.box-1::before {
  background-image: url("../images/in_the_world_section/card-images/kb.jpg");
}

.box-2::before {
  background-image: url("../images/in_the_world_section/card-images/tass.jpg");
}

.box-3::before {
  background-image: url("../images/in_the_world_section/card-images/tbk.jpg");
}

.box-4::before {
  background-image: url("../images/in_the_world_section/card-images/solenka.jpg");
}

.box-5::before {
  background-image: url("../images/interesting-images/kb.jpg");
}

.box-6::before {
  background-image: url("../images/interesting-images/pp-news.jpg");
}

.box-6::before {
  background-image: url("../images/interesting-images/pp-news.jpg");
}

.box-7::before {
  background-image: url("../images/interesting-images/dns-club.jpg");
}

.box-8::before {
  background-image: url("../images/interesting-images/sputnik-uzb.jpg");
}

.box-9::before {
  background-image: url("../images/interesting-images/i-reactor.jpg");
}

.box-10::before {
  background-image: url("../images/interesting-images/company.jpg");
}

.box-11::before {
  background-image: url("../images/interesting-images/ferghana.jpg");
}

.box-12::before {
  background-image: url("../images/interesting-images/fbm.jpg");
}



.world-news-item-box-img {
  margin-right: 10px;
}

.world-news-item-box-text {
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

.world-news-wrapper-link {
  display: block;
  margin-bottom: 100px;
  padding: 17px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #eaeaea;
  border-radius: 10px;
}

/* main news */
.main-news {
  width: 393px;
}

.main-news-title {
  margin: 0;
}

.main-news-list {
  padding-left: 0;
}

.main-news-container {
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 17px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.main-news-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.last-item {
  border-bottom: none;
}

.main-news-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.main-news-item-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}

.main-news-item-link {
  color: #000;
}

/****************** ASIDE BOTTOM ************/
.aside-bottom {
  margin-top: 10px;
}

.aside-bottom-ad-img {
  border-radius: 15px;
}

/****************** ASIDE BOTTOM ************/

/*********** FOOTER *********/
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f6f6f6;
}

.footer-copyright {
  width: 264px;
}

.footer-copyright-logo {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.footer-copyright-text {
  margin-bottom: 71px;
  font-size: 12px;
  line-height: 19px;
}

.footer-links-container {
  display: flex;
}

.footer-links {
  margin-top: 83px;
  margin-bottom: 30px;
}

.footer-links-item {
  margin-bottom: 20px;
}

.footer-links-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.footer-bottom-list {
  display: flex;
}

.footer-bottom-item:nth-child(2) {
  margin-right: 33px;
  margin-left: 32px;
}

.footer-bottom-item:nth-child(3) {
  margin-right: 33px;
}